.Main {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0 2rem;

  border: 1px solid red;
}

.Main-left h1 {
  font-weight: 700;
  font-size: 4.8rem;
}

.Main-left h4 {
  color: hsl(0, 0%, 75%);
}

.Main-left button {
  font-size: 1rem;
  color: white !important;
  border: none;
  outline: none;
  background-color: hsl(180, 66%, 49%);
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  margin: 2rem 0 0 2rem;
}

.Main-header {
  margin-bottom: 20px;
}

.Main-header h1 {
  word-spacing: 2px;
}

.Main-paragraph {
  margin-bottom: 20px;
}

.Main-right {
  overflow: hidden;

}

.Main-right img {
  width: 120%;
}

@media only screen and (max-width: 800px) {
  .Main-left h1 {
    font-size: 2rem;
  }
  .Main-left h4 {
    font-size: 0.8rem;
  }
}